# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Ignore Agent folders
.agents/
.trae/

# Config/Env variables
.env
.env.*

# Supabase
supabase/
repomix-output.xml
repomix-output.txt
.repomixignore
CLAUDE.md
.claudeignore
repomix.config.ts
.rtk/
database/
trello_reference.py

tableau_data/

datos_tableau_civicreport.csv